[submodule "ext/Lidarr"]
	path = ext/Lidarr
	url = https://github.com/Lidarr/Lidarr.git
[submodule "ext/lidarr.plugin.common"]
	path = ext/Lidarr.Plugin.Common
	url = http://192.168.2.59:3001/RicherTunes/Lidarr.Plugin.Common.git
	branch = main
