<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Redirect any version of Lidarr.Core to runtime version -->
      <dependentAssembly>
        <assemblyIdentity name="Lidarr.Core" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="2.13.2.4686" />
      </dependentAssembly>
      
      <!-- Redirect any version of Lidarr.Common to runtime version -->
      <dependentAssembly>
        <assemblyIdentity name="Lidarr.Common" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="2.13.2.4686" />
      </dependentAssembly>
      
      <!-- Redirect FluentValidation to runtime version -->
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="9.5.4.0" />
      </dependentAssembly>
      
      <!-- Redirect NLog to runtime version -->
      <dependentAssembly>
        <assemblyIdentity name="NLog" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>